body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    color: #ffffff;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 650px;
    position: fixed;
    left: 0;
    right: 0;
}

.title {
    text-align: center;
}

.title h1 {
    padding: 15px 0 10px 0;
    font-weight: normal;
    font-size: 50px;
    margin: 0;
}

.title h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

#card-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hand-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#player-hand-info,
#dealer-hand-info {
    width: 50px;
    text-align: left;
    display: none;
    margin-right: 10px;
}

#player-score,
#dealer-score {
    margin: 0;
    font-size: 30px;
}

.card-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    gap: 20px;
}

.card-area img {
    height: 120px;
}

#play-section {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 20px;
}

.play-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.center-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#form-control {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    margin: 5px 0 0 0;
}

#deal-button {
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 15px;
    border-style: none;
    background-color: #97191d;
    color: #ffffff;
    margin-left: 5px;
}

.button {
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 15px;
    border-style: none;
    background-color: #97191d;
    color: #ffffff;
}

.new-card {
    animation: throwFromRight 0.7s ease-out;
}

#money-display {
    font-size: 20px;
}

#bet-display {
    font-size: 20px;
}

#result {
    position: fixed;
    bottom: 7px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #e7a434;
    text-align: center;
    width: 100%;
}

@keyframes throwFromRight {
    0% {
        transform: translateX(1000px) rotate(30deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.c-red {
    color: #97191d;
}