html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.game-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url('assets/bg.jpg');
}

h1 {
  margin-top: 20px;
  margin-bottom: 150px;
  color: black;
}

.status {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 400px;
}

.cards-display {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 10px;
  min-width: 120px;
  height: 180px; 
  gap: 10px;
}

.cards img {
  width: 100px; 
  height: auto; 
}

.hidden-card {
  width: 100px; 
  height: auto;
  z-index: 0;
}
.money-info {
  margin: 20px 0;
}

.actions{
  background-color: rgba(15, 153, 158, 0.58);
}

.actions button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#startGame{ 
  color: white;
  background-color: rgb(37, 255, 37);
  border-radius: 10px;
}

#takeCard {
  color: white;
  background-color: rgb(186, 192, 10);
  border-radius: 10px;
}

#holdCard {
  color: white;
  background-color: red;
  border-radius: 10px;
}

.status {
  display: flex;
  justify-content: space-between; 
  align-items: center;    
  gap: 2px;             
}


.status-sums {
  background-color:  rgba(15, 153, 158, 0.58);
  border-radius: 20px;
  width: 200px;
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button[disabled] {
  background-color: #d3d3d3; 
  color: #a9a9a9;
  border: 1px solid #d3d3d3; 
  cursor: not-allowed; 
  opacity: 0.6; 
}
